<div class="pl-row pl-alert pl-{{alert}} {{checkpoint_hidden}}">
  <div class="pl-icon">
    <span class="fa-stack fa-lg" style="color:{{transitStatusColor}};">
      <i class="fa fa-circle fa-stack-2x" style="color:{{transitStatusColor}};opacity:.2;"></i>
      <i class="fa fa-{{transitStatus.icon}} fa-stack-1x fa-inverse" style="color:{{transitStatusColor}};"></i>
    </span>
  </div>
  <div class="pl-text">
    <small>{{ dateText }}  {{ locationText }}</small><br />
    <b>{{ checkpoint.status_text }}</b>: {{{ checkpoint.status_details }}}
  </div>
</div>

{{#if button}}
  <div class="pl-row pl-alert pl-action pl-show-more-button">
    <div class="pl-icon">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x" style="color:#eee;"></i>
        <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="pl-text pl-show-more-text">
      {{ more }}
      <br>
    </div>
  </div>
{{/if}}
