<!--
  layout.hbs
  -
  Context:
    {Object} data - API response data
    {Object} props - parcelLab instance props
-->


<!-- Heading -->
<div class="pl-container">


  <!--
    CSS HACK ~> display:none if not using our stylesheet
  -->
  {{#if props.showActionBox}}
  <aside  style="display: none;" class="pl-box-aside">
      <div class="pl-box pl-col pl-col-4" style="margin-bottom:25px;">
          {{#with data.header.0.actionBox}}
            <!-- Action box -->
            {{> actionBox}}
          {{/with}}
      </div>
  </aside>
  {{/if}}

<!-- content / order /  -->
<div class="pl-main pl-box pl-col {{#if props.showActionBox}}pl-col-8{{else}}pl-col-12{{/if}}">

    <div class="pl-box-heading" style="margin-bottom: 15px;">
      {{generateHeading data props}}
    </div>

    <!-- Tabs -->
    <div class="pl-container" style="padding: 0 25px;">
      {{#tabbify data props}}
        {{> tab}}
      {{/tabbify}}
    </div>



    <!-- Trackings-Container -->
    {{#trackify data props}}
      <div class="parcel_lab_tracking {{#unless visible}}hidden{{/unless}}" id="{{id}}">
        <div class="pl-box-body">

            <!-- Subheading
              <div>{{subHeading}}</div -->

            <!-- Prediction -->
            {{#with prediction}}
              {{> prediction}}
            {{/with}}


            <div class="pl-padded">
              {{#each checkpoints}}
                {{> checkpoint}}
              {{/each}}
            </div>

          </div>
        <div class="pl-box-footer">
          {{{generateFurtherInfosText this ../this}}}
        </div>
      </div>
    {{/trackify}}
</div>

</div>
