<div class="pl-box hide-on-desktop" style="margin: 25px 0; padding: 20px 0px;">
  <div class="pl-box-body">
    {{{name.full}}}
    {{#with address}}
      <address>
        {{{street}}} <br>
        {{{zip_code}}} {{{city}}}
      </address>
    {{/with}}
    {{#with contact.phone}}
      {{{generatePhoneLink this true}}}
      <br />
    {{/with}}
    {{{generateContactLink contact.pubEmail true}}}
    <br />
    <a href="{{contact.website}}" target="_blank" class="btn btn-default btn-block">
      <i class="fa fa-fw fa-globe"></i> {{contact.website}}
    </a>
    <br />
    <div style="text-align: center; margin-top:40px;">
      {{#each social}}
        {{{generateSocialLink @key this}}}
      {{/each}}
    </div>
  </div>
</div>
