<div class="pl-box hide-on-desktop" style="margin: 25px 0; padding: 20px 0px;">
  <div class="pl-box-body">
    {{{name.full}}}
    {{#with address}}
      <address>
        {{{street}}} <br>
        {{{zip_code}}} {{{city}}}
      </address>
    {{/with}}
    {{#with contact.phone}}
      {{{[generate/PhoneLink] this true}}}
      <br />
    {{/with}}
    {{{[generate/ContactLink] contact.pubEmail true}}}
    <br />
    {{#with contact.website}}
    <a href="{{this}}" target="_blank" class="btn btn-default btn-block">
      <i class="fa fa-fw fa-globe"></i> {{[helpers/trimUrl] this}}
    </a>
    {{/with}}
    <br />
    <div style="text-align: center; margin-top:40px;">
      {{#each social}}
        {{{[generate/SocialLink] @key this}}}
      {{/each}}
    </div>
  </div>
</div>
