
<div class="hide-on-desktop" style="margin-bottom:25px;">
  <a href='{{contact.website}}' target="_blank">
      <img src="{{customisation.logoUrl}}" alt="{{name.full}}" class="img-responsive" style="margin-bottom: 6px; max-height:80px;" />
  </a>
</div>


<div class="pl-box hide-on-mobile" style="margin-bottom: 25px; padding: 20px 0px;">
  <div class="pl-box-body">
    <a  href='{{contact.website}}' target="_blank">
        <img src="{{customisation.logoUrl}}" alt="{{name.full}}" class="img-responsive" style="margin-bottom: 6px;" />
    </a>


      {{{name.full}}}
      {{#with address}}
        <address>
          {{{street}}} <br>
          {{{zip_code}}} {{{city}}}
        </address>
      {{/with}}
      {{#with contact.phone}}
        {{{generatePhoneLink this}}}
        <br />
      {{/with}}
      {{{generateContactLink contact.pubEmail}}}
      <br />
      <a href="{{contact.website}}" target="_blank"><i class="fa fa-fw fa-globe"></i> {{contact.website}}</a>
      <br />
      <div style="text-align: center; margin-top:40px;">
        {{#each social}}
          {{{generateSocialLink @key this}}}
        {{/each}}
      </div>

  </div>
</div>
