<div class="pl-col pl-col-{{template.size}}">
  <div class="pl-tab pl-btn pl-btn-default pl-{{template.active}}" href="{{template.href}}">
    <input type="hidden" class="objectHolder" value="{{template.object}}">
    <div class="pl-icon">
      <span class="fa-stack fa-lg" style="color:{{template.transitStatusColor}}">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-{{template.transitStatus.icon}} fa-stack-1x"></i>
      </span>
    </div>
    <div>
      <span>{{courier.prettyname}}</span>
      <span class="pl-status">
        <i style="color: {{template.signalColourGreen}}" class="fa fa-circle"></i>
        <i style="color: {{template.signalColourOrange}}" class="fa fa-circle"></i>
        <i style="color: {{template.signalColourRed}}" class="fa fa-circle"></i>
      </span>
      <br />
      <span> {{tracking_number}}</span>
    </div>
  </div>
</div>
